datasets==4.8.5
deepspeed==0.19.0
einops==0.8.2
gradio==6.14.0
httpx==0.28.1
hyperpyyaml==1.2.3
inflect==7.5.0
jiwer==4.0.0
kaldialign==0.10.0
librosa==0.11.0
matcha_tts==0.0.7.2
modelscope==1.35.4
numpy==2.4.4
omegaconf==2.3.0
onnxruntime_gpu==1.19.2
openai_whisper==20250625
packaging==26.2
pandas==3.0.2
pyarrow==24.0.0
pypinyin==0.55.0
pyworld==0.3.5
PyYAML==6.0.3
regex==2026.4.4
Requests==2.33.1
s3tokenizer==0.3.0
safetensors==0.7.0
scipy==1.17.1
sherpa_onnx==1.13.1
soundfile==0.13.1
tensorrt_cu12==10.16.1.11
tiktoken==0.12.0
tn==0.0.5
torch==2.11.0
torchaudio==2.11.0
tqdm==4.67.3
transformers==4.57.3
tritonclient==2.68.0
ttsfrd==0.1.0
uvicorn==0.46.0
verl==0.7.1
wetext==0.1.2
x_transformers==2.18.10
zhon==2.1.1
